<!-- Footer -->
<footer class="fixed-bottom text-lg-start bg-white text-muted">
  
    <!-- Copyright -->
    <div style="text-align: center;">
      <div class="p-1" style="background-color: rgba(0, 0, 0, 0.025);"> Copyright © 2023 - 
        <a class="text-reset fw-bold" href="#" style="text-decoration: none;">OSRS Max Calculator</a>
        <h6 class="small">OSRS Max calculator is not endorsed by Jagex Games Ltd and does not reflect the views or opinions of Jagex.</h6>
      </div>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
  