<!-- 
<div class="">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4">
      <p class="col-md-4 mb-0 text-muted">&copy; 2023 - OSRS Max-Calculator</p>
      <ul class="nav col-md-4 justify-content-end">
          <li class="nav-item"><a href="/" class="nav-link px-2">Home</a></li>
          <li class="nav-item"><a href="/contact" class="nav-link px-2">Contact</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2">About</a></li>
      </ul>
  </footer>
</div>

-->

<!-- Footer -->
<footer class="fixed-bottom text-lg-start bg-white text-muted">
  
    <!-- Copyright -->
    <div style="text-align: center;">
      <div class="p-4" style="background-color: rgba(0, 0, 0, 0.025);">© Copyright 2023 - 
        <a class="text-reset fw-bold" href="#" style="text-decoration: none;">OSRS Max calculator</a>
        <h6 class="small">OSRS Max calculator is not endorsed by Jagex Games Ltd and does not reflect the views or opinions of Jagex.</h6>
      </div>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
  