<%- include('../partials/head') %>
<%- include('../partials/header') %>

<body>
 
    <div class="container">
        <br>
        <div class="row">
            <div class="col">
                <h5>What is this?</h5>
                <p>Did you ever wonder how far you are away from maxing out your Old School Runescape account?<br>Wonder no more.
                This can calculate exactly how much more experience you need to max. </p>

                <h5>How is work?</h5>
                <p>Just like on the official OSRS site for viewing player hiscores, you select a game mode and enter an RSN to view player stats. This site does the same thing with a little math at the end!</p>

                <h5>Disclaimer</h5>
                <p>Please do not enter your login information to any website other than the offical Jagex services.<br>
                I highly encourage everyone to use the Offical Jagex Launcher, have Two Authentication (MFA) and have bank pin.
                <br>
                Please visit Jagex's website and review their recommendation to keep your account safe.
                <br>Thank you!
                </p>
            </div>
            

        </div>
    </div>



 
</body>



<%- include('../partials/footer') %>