<%- include('../partials/head') %>
<%- include('../partials/header') %>

<body>
 
    <div class="container">
        This is a tool used to calculte how much more exp you need for max
    </div>



<!--
 <h1> Shoes </h1>
  <h2>Buy For $1</h2>
  <form action="/pay" method="post">
    <input type="submit" value="Buy">
  </form>
-->
 
</body>


<%- include('../partials/footer') %>