<%- include('../partials/head') %>
<%- include('../partials/header') %>

<body>
 
    <div class="container">
        This is a tool used to calculte how much more exp you need for max
    </div>



 
</body>


<%- include('../partials/footer') %>