<%- include('../partials/head') %>
<%- include('../partials/header') %>
<body>

    <div class="container">
    This is the contact information page
    </div>




</body>
<%- include('../partials/footer') %>