<%- include('../partials/head') %>
<%- include('../partials/header') %>
<body>

    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Thank you!</h3>
                <h5>You can make a secure donation using PayPal by clicking the Donate button below. Thank you so much for all the support!</h5>
                <i class="fab fa-paypal" href=""></i>
                <a class="text-reset fw-bold" href="https://www.paypal.com/donate/?hosted_button_id=QM6ELRR2PVY4C" style="text-decoration: none;"></a>
            </div>

        </div>


        

    </div>





</body>
<%- include('../partials/footer') %>