<%- include('../partials/head') %>
<%- include('../partials/header') %>
<body>

    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Thank you!</h3>
                <h5>You can make a secure donation using PayPal by clicking the Donate button below. Thank you so much for all the support!</h5>
            
            
            </div>

        </div>


        https://www.paypal.com/donate/?hosted_button_id=QM6ELRR2PVY4C

    </div>





</body>
<%- include('../partials/footer') %>