<%- include('../partials/head') %>
<%- include('../partials/header') %>
<body>

    <div class="container">
    
        <div>
            <h3>Thank you!</h3>
            <h5>You can make a secure donation using PayPal by clicking the Donate button below. Thank you so much for all the support!</h5>
        </div>



    </div>





</body>
<%- include('../partials/footer') %>